.one-question {
    width: 1167px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(45,45,45);
}

.one-question:hover{
    opacity: 0.9;
}


.one-question section {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /*This will split the space between both text & button*/
    cursor: pointer;
}

.one-question h2 {
    font-weight: 400px;
    letter-spacing: 1px;
    margin-left: 10px;
}

.one-question button {
    height: 40px;
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 20px;
    margin-top: 15px;
    cursor: pointer;
}

.one-question p {
    margin: 20px 10px;
    font-size: 20px;

}

.button-clickable {
    background-color: rgb(45,45,45);
    color: white;
    border: none;
}